/* card */
.card-img {
  height: auto;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 230px;
  text-align: center;
  margin: 30px auto 50px auto;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 20px auto 0 auto;
}