/*reset*/
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
  --theme-color: #90caf9;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eceff1;
}

/*header*/
header {
  background-color: var(--theme-color);
  font-family: "Roboto Slab", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
  z-index: 1;
}

.header-center {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}

.name {
  color: white;
  padding: 10px 10px;
  font-size: 24px;
  transition: background-color 0.8s, color 0.8s;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  padding: 10px 0 10px 30px;
}

a:hover {
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
}

/* XS, SM */
@media (max-width: 991px) {
  nav {
    font-size: 12px;
    margin-right: 15px;
  }
}

/*content*/
.main-body {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}

.content {
  width: 960px;
  background-color: white;
  margin-top: 24px;
  padding: 15px;
  box-shadow: 0px 1px 3px 0px #a0a0a0;
}

.section-body-about {
  border-bottom: 1px black solid;
  margin: 10px;
  font-size: 20px;
}

.main-image {
  width: 20%;
  height: auto;
  float: left;
  padding: 5px 10px;
}

/*footer*/
.disclaimer {
  display: flex;
  justify-content: center;
  border-top: 8px solid var(--theme-color);
  background-color: #eceff1;
  color: white;
  padding: 10px 0 10px 0;
}
