/*reset*/

*, :after, :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
  
  html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
  height: 100vh;
  background-color: rgb(182, 178, 178);
}

/*header*/
header {
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-center {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
}

.name {
  color: white;
  background-color: rgb(6, 218, 165);
  padding: 10px 10px;
  font-size: 24px;
}

a {
  color: rgb(6, 218, 165);
  text-decoration: none;
}

a:hover {
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 10px 0 10px 30px;
}

/*content*/
.main-body {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
}
.content {
  width: 960px;
  background-color: white;
  margin-top: 24px;
  padding: 15px;
}

.section-body-about {
  border-bottom: 1px black solid;
  margin: 10px;
  font-size: 20px;
}

.main-image {
  width: 20%;
  height: auto;
  float: left;
  padding: 5px 10px;
}

/*footer*/
.disclaimer {
  display: flex;
  justify-content: center;
  border-top: 8px solid #4aaaa5;
  background-color: rgb(182, 178, 178);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}





