html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
}

body {
  max-width: 960px;
}

.body {
  border: 1px blue solid;
}

header {
  background-color: rgba(19, 241, 111, 0.815);
  display: flex;
  justify-content: space-between;
}

.name {
  margin-left: 10%;
}

nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  padding: 0 15px;
}

.main-body {
  text-align: center;
}








